.sd-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.sd-grid > div {
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-s);
    padding: 0.5rem;
}
